<div class="body">
  <div class="animation-box">
    <div class="animation-child1">
      <div class="top" data-aos="flip-left" data-aos-duration="1500">
        <div class="detail">
          <h2>School:</h2>
          <div class="details">
            <h3>Sri Adichunchanagiri High School</h3>
            <p>Heggadadevana Kote</p>
          </div>
        </div>
        <img [src]="School" class="log" alt="school" />
      </div>
    </div>
    <div class="animation-child2">
      <div class="middle" data-aos="flip-right" data-aos-duration="1500">
        <img [src]="Collage" class="log" alt="collage" />
        <div class="detail">
          <h2>Pre-University:</h2>
          <div class="details">
            <h3>Vivekananda Pre-University Collage</h3>
            <p>Neharu Nagara, Putturu</p>
          </div>
        </div>
      </div>
    </div>
    <div class="animation-child3">
      <div class="bottom" data-aos="flip-left" data-aos-duration="1500">
        <div class="detail">
          <h2>Graduation:</h2>
          <div class="details">
            <h3>Presidency University</h3>
            <p>Yalahanka, Bengaluru</p>
          </div>
        </div>
        <img [src]="Graduate" class="log" alt="graduation" />
      </div>
    </div>
  </div>
</div>
