<!DOCTYPE html>
<html lang="en">
  <body>

    <div id="bio">
      <div class="left">
        <div class="content-set">
          <h2>Wellcome to Myprofile</h2>
          <h1>BALACHANDREGOWDA P</h1>
          <p id="spin"></p>
        </div>
      </div>
      <div class="right">
        <img [src]="imagePath" alt="profile pic" id="pic" />
      </div>
    </div>

    <div class="area">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </body>
</html>


