<div class="body">
  <div class="animation-box">

    <div class="animation-child">
      <div class="animation-middle" data-aos="flip-up" data-aos-delay="320">
        <div class="img">
          <img src="/assets/images/jobportal.jfif" alt="" />
        </div>
        <div class="content">
          <h2>Job Portal</h2>
          <h3>Internship Project</h3>
          <p>
            Job-portal application for user and Admin face. Provides job details
            to candidates posted by admin.
          </p>
        </div>
      </div>
    </div>

    <div class="animation-child">
      <div class="animation-left" data-aos="flip-left" data-aos-delay="300">
        <div class="img">
          <img src="/assets/images/profile.jpg" alt="" />
        </div>
        <div class="content">
          <h2>Portfolio</h2>
          <h3>Selft-Made Project</h3>
          <p>Self-Profile details application</p>
        </div>
      </div>
    </div>

    <div class="animation-child">
      <div class="animation-right" data-aos="flip-right" data-aos-delay="350">
        <div class="img">
          <img src="/assets/images/Weather.jpg" alt="" />
        </div>
        <div class="content">
          <h2>Weather Application</h2>
          <h3>Selft-Made Project</h3>
          <p>
            Simple weather application gives temperature details of user
            requested city
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
